streamlit
numpy
pillow==8.0.0
torch
torchvision
pytorch_lightning
opencv-python-headless
huggingface-hub==0.11.1
timm==0.6.12
tqdm==4.64.1
wandb==0.13.9
h5py==3.7.0
matplotlib==3.6.2
scipy==1.10.0
torchaudio==0.13.1
